.cart--container {
    /* border: 1px solid black; */
    width: 350px;
}
.cart--title{
    font-weight: 400;
}
.cart--title--container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.cart--subtotal{
    color: rgb(77, 77, 77);
}