.home--container {
    margin: 3rem;
    position: absolute;
    width: 100%;
}
.home--container h2 {
    font-weight: 400;
}
img {
    width: 45%;
    display: inline;
    position: relative;
    right: 0;
    top: 0;
}